<main>
    <div class="container-fluid" id="main_content">
        <div class="row">
            <h1 class="text-warning ml-5"><b>Nhập môn công nghệ phần mềm</b></h1>
        </div>
        <div class="row">
            <div class="col-md-7 mr-5 ml-5">
                <h4><b>Thông tin khóa học</b></h4>
            </div>
            <div class="col-md-4">
                <h4><b>Thông tin giảng viên</b></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 mr-5 ml-5">
                <div class="row py-2 ml-2">
                    <a class="btn btn-primary" data-toggle="collapse" href="#MoTa" role="button" aria-expanded="true"
                        aria-controls="MucTieu">
                        Mô tả
                    </a>
                    <div class="collapse show" id="MoTa">
                        <div class="card card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                            proident.
                        </div>
                    </div>
                </div>
                <div class="row py-2 ml-2">
                    <a class="btn btn-primary" data-toggle="collapse" href="#MucTieu" role="button" aria-expanded="true"
                        aria-controls="MucTieu">
                        Mục tiêu
                    </a>
                    <div class="collapse" id="MucTieu">
                        <div class="card card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                            proident.
                        </div>
                    </div>
                </div>
                <div class="row py-2 ml-2">
                    <a class="btn btn-primary" data-toggle="collapse" href="#LichHoc" role="button" aria-expanded="true"
                        aria-controls="LichHoc">
                        Lịch học
                    </a>
                    <div class="collapse" id="LichHoc">
                        <div class="card card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                            proident.
                        </div>
                    </div>
                </div>
                <div class="row py-2 ml-2">
                    <a class="btn btn-primary" data-toggle="collapse" href="#MoTa" role="button" aria-expanded="true"
                        aria-controls="MucTieu">
                        thông báo
                    </a>
                    <div class="collapse show" id="MoTa">
                        <div class="card card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                            proident.
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                        data-whatever="@mdo">Thêm thông báo mới</button>

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa thông tin khóa học</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/course/notifition" method="post">
                                        <div class="form-group">
                                            <label for="thongbao" class="col-form-label">Thông báo tiếp theo:</label>
                                            <textarea class="form-control" id="thongbao"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="card-link">Link học trực tuyến</a><br>
                <a href="#" class="card-link">Tài liệu môn học</a><br>
                <a href="#" class="card-link">Link Video record</a><br>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 80%;">
                    <img class="card-img-top" src="img/Avatar.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Tên: Trần Quốc Đông</p>
                        <p class="card-text">Email: dongtran@gmail.com</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Đánh giá: 5⭐</li>
                        <li class="list-group-item">
                            <form action="" method="post" type="radio" class="star-rating">
                                <input type="radio" name="rating" value="1"><i></i>
                                <input type="radio" name="rating" value="2"><i></i>
                                <input type="radio" name="rating" value="3"><i></i>
                                <input type="radio" name="rating" value="4"><i></i>
                                <input type="radio" name="rating" value="5"><i></i>
                            </form>
                        </li>
                        <li class="list-group-item">
                            <h3 class="text-warning">Học phí: 1325000 đ</h3>
                        </li>
                    </ul>
                    <div class="card-body">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                            data-whatever="@mdo">Chỉnh sửa thông tin khóa học</button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa thông tin khóa học</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/course/update" method="post">
                                            <div class="form-group">
                                                <label for="tenkhoahoc" class="col-form-label">Tên khóa học:</label>
                                                <input type="text" class="form-control" id="tenkhoahoc"
                                                    value="{{ TenKhoaHoc }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="mota" class="col-form-label">Mô tả:</label>
                                                <textarea class="form-control" id="mota" value="{{ MoTa }}"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="lichhoc" class="col-form-label">Lịch học:</label>
                                                <textarea class="form-control" id="lichhoc"
                                                    value="{{ LichHoc5 }}"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="hocphi" class="col-form-label">Tên khóa học:</label>
                                                <input type="number" class="form-control" id="hocphi"
                                                    value="{{ HocPhi }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="ngayketthuc" class="col-form-label">Ngày bắt đầu - Ngày kết
                                                    thúc:</label>
                                                <input type="text" class="form-control" id="ngaybatdau"
                                                    value="{{ NgayBatDau }}" disabled>
                                                <input type="text" class="form-control" id="ngayketthuc"
                                                    value="{{ NgayKetThuc }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="linkchatroom" class="col-form-label">LinkChatRoom:</label>
                                                <input type="text" class="form-control" id="linkchatroom"
                                                    value="{{ LinkChatRoom }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="linktailieu" class="col-form-label">LinkTaiLieu:</label>
                                                <input type="text" class="form-control" id="linktailieu"
                                                    value="{{ LinkTaiLieu }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="linkvideo" class="col-form-label">LinkVideo:</label>
                                                <input type="text" class="form-control" id="linkvideo"
                                                    value="{{ LinkVideo }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="linkanhkhoahoc" class="col-form-label">Link ảnh khóa
                                                    học:</label>
                                                <input type="text" class="form-control" id="linkanhkhoahoc"
                                                    value="{{ LinkAnh }}">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>