<main>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-md">
                <a class="navbar-brand" href="#"><img src="http://localhost:3000/img/Avatar.jpg" alt="Logo"></a>
                <div>
                    <h1>Nguyễn Văn A</h1>
                    <p>Giáo viên</p>
                </div>
        </div>
        <div class="row">
            <div class="col-sm info-form">
                <div class="text-center form-header">Thông tin người dùng</div>
                <div class="content-form">
                    <div>Họ tên:</div>
                    <div>Ngày sinh:</div>
                    <div>Email:</div>
                    <div>Số điện thoại:</div>
                    <div>Địa chỉ:</div>
                </div>
                <div class="row">
                    <div class="info-button text-center mx-auto">

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                            data-whatever="@mdo">Chỉnh sửa</button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa thông tin người
                                            dùng
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/course/update" method="post">
                                            <div class="form-group">
                                                <label for="hoten" class="col-form-label">Họ tên:</label>
                                                <input type="text" class="form-control" id="hoten" value="{{ HoTen }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="mota" class="col-form-label">Ngày sinh:</label>
                                                <input type="date" class="form-control" id="ngaysinh"
                                                    value="{{ Ngaysinh }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="email" class="col-form-label">Email:</label>
                                                <input type="email" class="form-control" id="email" value="{{ Email }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="sodienthoai" class="col-form-label">Số điện
                                                    thoại:</label>
                                                <input type="text" class="form-control" id="sodienthoai"
                                                    value="{{ Sodienthoai }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="diachi" class="col-form-label">Địa chỉ:</label>
                                                <input type="text" class="form-control" id="diachi"
                                                    value="{{ Diachi }}">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-button text-center mx-auto">
                        <button type="submit" class="btn btn-secondary">Xoá tài khoản</button>
                    </div>
                </div>
            </div>
            <div class="col-sm info-form">
                <div class="text-center form-header">Thông tin khoá học</div>
                <div class="content-form"></div>
                <div class="row">
                    <div class="info-button text-center mx-auto">
                        <button type="submit" class="btn btn-primary">Xem tất cả khoá học</button>
                    </div>
                    <div class="info-button text-center mx-auto">
                        <button type="submit" class="btn btn-secondary">Tạo khoá học</button>
                    </div>
                </div>
            </div>
            <div class="col-sm info-form">
                <div class="text-center form-header">Thời khoá biểu</div>
                <div class="content-form"></div>
                <div class="info-button text-center mx-auto">
                    <button type="submit" class="btn btn-primary">Xem chi tiết</button>
                </div>
            </div>
        </div>
    </div>
</main>